{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    
    <h1 class="text-3xl"> This is home (landing) page</h1>

    <br>
    <br>
    
    <p class="bg-green-400 p-4 text-4xl ">
        This is a paragraph
    </p>

    <br>

    <div>
        <img src="{% static 'images/pukur.jpg' %}" alt="">
    </div>


</body>
</html>